body {
  padding: 50px 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 500px;
}

a {
  color: #00B7FF;
}
.menu {
  text-align: right;
  margin-bottom: 10px;
}
.menu .name {
  color: gray;
  font-size: 20px;
}
.entry {
  padding: 20px;
  box-shadow: 0 0 5px 0 lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
}
.postBy {
  color: gray;
}